---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Countdown from "../components/Countdown.astro";
import ScriptMaker from "../components/ScriptMaker.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="./styles/reset.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <ViewTransitions />
		<title>Astro</title>
	</head>
	<body>
		<Countdown />
    <ScriptMaker />
	</body>
</html>
