---
import Countdown from "../components/Countdown.astro";
import ScriptMaker from "../components/ScriptMaker.astro";
import '../styles/reset.css'

export const prerender = true
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="svg" href="https://www.svgrepo.com/show/427472/crest-crown-general.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Countdown />
    <ScriptMaker />
	</body>
</html>
