---
import CountdownNumber from "./CountdownNumber.astro"
export const prerender = true
---

<div class="countdown">
  <CountdownNumber />
  <h3>left to see eachother again</h3>
</div>

<style is:inline>
  .countdown {
    height: 100vh;
    width: 100%;

    background-color: pink;
    background-image: url('./abstract.avif');
    background-size:cover;
    background-repeat: no-repeat;

    align-content: center;
    text-align: center;

    h1,h3 {
      color: white;
      margin: 0 auto;
      text-shadow: magenta 0px 0px 5px, magenta 0px 0px 10px, magenta 0px 0px 15px, mediumvioletred 0px 0px 20px, mediumvioletred 0px 0px 30px, mediumvioletred 0px 0px 40px, mediumvioletred 0px 0px 50px, mediumvioletred 0px 0px 75px;
    }

    h1 {
      font-size: 9rem;
      letter-spacing: -.7rem;
    }
    h3 {
      font-size: 4rem;
      letter-spacing: -.1rem;
    }

  }
</style>